/* grid areas */

app-header{
  grid-area: header;
}
app-sidenav{
  grid-area: sidebar;
}
app-home{
  grid-area: main;
}

/* grid template */
.content {
  display: grid;
  grid-template-columns: 0fr 20fr;
  grid-template-rows: 1fr 7.5fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  height: 100%;
}


