/* sidenav css */
:root{
  --primary : #082b08;
  --secondary : #fff;
}
.sidebar {
  color: #fff;
  height: 100%;
  width: 200px;
  position: sticky;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  z-index: 1000;
  background: var(--primary);
  /* box-shadow: 0 10px 20px 0 #00000033; */
}
.sidebar_nav{
  color: #fff;
}

li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}
li:hover{
  background: #546ef2e1;
  border-radius: 5px;
}
