<aside>
<!-- Using bootstrap -->
  <div class="list-group">
    <a routerLink="/dashboard" routerLinkActive="active" class="list-group-item list-group-item-action">
      <i class="fa fa-dashboard"></i> Dashboard
    </a>
    <a routerLink="/users" routerLinkActive="active" class="list-group-item list-group-item-action">
      <i class="fa fa-users"></i> Users
    </a>
    <a routerLink="/posts" routerLinkActive="active" class="list-group-item list-group-item-action">
      <i class="fa fa-pencil"></i> Posts
    </a>
  </div>
</aside>
